body {
  background-color: rgb(61, 149, 244);
}

#settings {
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
  width: 750px;
  background-color: #2d57e4;
  padding: 25px;
}

#settings p {
  margin: 0;
  flex: 3;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

input {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  flex: 1;
}

button {
  background-color: rgb(38, 40, 170);
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  flex: 1 1 50px;
}

#container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #000;
}

.column {
  display: flex;
  flex-direction: column;
}

.square {
  background-color: #fff;
}
